.sidenav {
  flex-grow: 0;
  height: 100%;
  z-index: 1;
  background-color: #252525;
  resize: horizontal;
  position: relative;
}

.workspace-tree {
  overflow-y: auto; /* vertical scroll bar should automatically appear */
  overflow-x: hidden; /* since tree content is cut (ellipsis added), never show horizontal scrol bar */
  height: calc(100% - 34px); /* -34 px occupied by the icon button bar! */
}


/* currently unused, since it causes focus loss of selected workspace navigator
   in addition it prevents selecting new open tabs in chromium and chrom */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

.sidenav input {
  border: 1px solid #111;
  padding: 5px;
  font-size: 12px;
  width: 80%;
  background: #444;
  color: #fff;
}

.sidenav a {
  color: #818181;
}

.sidenav a:hover {
  color: #CCCCCC;
  text-decoration: none;
}

.icon-menu {
  padding: 5px;
}

.icons-left {
  float: left;
}

.icons-right {
  text-align: right;
}

.icon {
  color: #CCCCCC;
  cursor: pointer;
}

.icon:hover:enabled {
  color: #ffffff;
}

.icon:hover:disabled {
  cursor: auto;
}

.icon:disabled {
  color: #555555;
}

button {
  background:none!important;
  border:none;
  padding:0!important;
}

.sidenav .alert-info {
  position: absolute;
  bottom: 0;
  width: inherit;
}
