<h2>@testeditor/workspace-navigator</h2>

<table border="0">
  <tr>
    <td rowspan="2">
      <div id="navigation">
        <app-navigation></app-navigation>
      </div>
    </td>
    <td valign="top" height="100px">
      <div id="status">
        <div *ngIf="lastSelected" id="lastSelectedDiv">Last select event was on: <code>{{lastSelected.path}}</code></div>
        <div *ngIf="lastOpened" id="lastOpenedDiv">Last open event was on: <code>{{lastOpened.path}}</code></div>
      </div>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <div id="list">
        <hr/>
        <ul>
          <li *ngFor="let path of paths">
            {{path}} -
            <a href="#" (click)="setDirty(path, true)">dirty</a> |
            <a href="#" (click)="setDirty(path, false)">undirty</a> |
            <a href="#" (click)="setActive(path)">active</a> |
            <a href="#" (click)="close(path)">close</a> |
            errors <a href="#" (click)="changeValidationStatus(path, 'errors', 1)">+</a>/<a href="#" (click)="changeValidationStatus(path, 'errors', -1)">–</a> |
            warnings <a href="#" (click)="changeValidationStatus(path, 'warnings', 1)">+</a>/<a href="#" (click)="changeValidationStatus(path, 'warnings', -1)">–</a> |
            infos <a href="#" (click)="changeValidationStatus(path, 'infos', 1)">+</a>/<a href="#" (click)="changeValidationStatus(path, 'infos', -1)">–</a>
          </li>
        </ul>
      </div>
    </td>
  </tr>
</table>
